section.about.container.container_size_small 
  .about__text
    h2.title-section.title-section_size_large.title-section.title-section_capitalize_true.about__title О нас Особенности
    p.paragraph-section.about__paragraph.
      Мы любим то, чем занимаемся – поэтому у нас
      индивидуальный подход к каждому человеку, креативные решения для проекта любой сложности 
      и высокий уровень клиентского сервиса.
    p.paragraph-section.about__paragraph.
      Именно поэтому нам доверяют сложнейшие задачи,
      рекомендуют нас и возвращаются вновь. Доверьте нам воплощение ваших самых изысканных и технологичных задач, 
      и мы сделаем всё с высочайшим уровнем сервиса Pascal Vent.
    p.paragraph-section.about__paragraph.
      Pascal Vent гарантирует сертифицированные современные системы, оборудование, 
      качественные материалы и самые оптимальные решения под любой бюджет.
  ul.about__list
    li.about__item 
      h3.about__item-title 10 лет на рынке
      p.about__item-paragraph Работаем как единое целое
    li.about__item 
      h3.about__item-title + 11 лет стажа
      p.about__item-paragraph Опытные и обученые специалисты своего дела  
    li.about__item 
      h3.about__item-title + 180 клиентов
      p.about__item-paragraph Число счастливых клиентов за этот период
    li.about__item 
      h3.about__item-title + 470 проектов
      p.about__item-paragraph Большое количество реализованных проектов    
