section.form-order
  .container.container_size_small
    h2.title-section.title-section_size_small.form-order__title Оставьте заявку и мы с вами свяжемся
    form.form-order__form 
      input.form-order__input#name(type="text" name="name" placeholder="Ваше Имя")
      input.form-order__input.form-order__input_margin_false#phone(type="tel" name="tel" placeholder="Номер телефона")
      button.button.button_size_small.button_border_dark.form-order__button(disabled) Отправить