- 
  var menu = [
  {title: 'Услуги', link: '#'},
  {title: 'О нас', link: '#'},
  {title: 'Польза Продукта', link: '#'},
  {title: 'Оборудование', link: '#'},
  {title: 'Этапы Работы', link: '#'},
  {title: 'Отзывы', link: '#'}
  ];

header.header.page__header
  .container.container_size_large.header__nav
    a.header__logo(href="/")
    nav.header__nav
      ul.header__list
        each item in menu
          li.header__item: a.header__link(href=item.link) #{item.title}
    button.button.button_size_small.button_border_light Связаться
          