section.hero.container.container_size_small
  h1.hero__title
    span.hero__title-primary Чистый Воздух
    span.hero__title-primary.hero__title-primary_margin_bottom.hero__title-primary_position_false вместе с
    span.hero__title-secondary Pascal vent
  p.hero__subtitle Проектирование, поставка и монтаж систем вентиляции и кондиционирования
  .hero__contacts
    address.hero__address Московский регион, Москва
    .hero__phones
      a.hero__tel(href="#") + 7 492 373 63 31
      a.hero__tel(href="#") + 7 424 367 89 29
  button.button.button_size_large.button_border_dark.hero__button Оставить заявку