section.portfolio
  .container.container_size_small 
    h2.title-section.title-section_size_large.title-section_capitalize_true.portfolio__title Портфолио И Процесс работы
    p.paragraph-section.
      Технические решения, принятые в рабочих чертежах, соответствуют требованиям экологических, 
      санитарно-гигиенических, противопожарных и других норм и правил, 
      и обеспечивают безопасную для жизни людей эксплуатацию объекта 
      при соблюдении предусмотренных рабочими чертежами мероприятий.
  .container.container_size_small
    button.button-slider.button-slider_prev(type="button")
    button.button-slider.button-slider_next(type="button")
