section.portfolio
  .container.container_size_small.portfolio__text
    h2.title-section.title-section_size_large.title-section_capitalize_true.portfolio__title Портфолио И Процесс работы
    p.paragraph-section.portfolio__paragraph.
      Технические решения, принятые в рабочих чертежах, соответствуют требованиям экологических, 
      санитарно-гигиенических, противопожарных и других норм и правил, 
      и обеспечивают безопасную для жизни людей эксплуатацию объекта 
      при соблюдении предусмотренных рабочими чертежами мероприятий.
  .container.container_size_small.portfolio__pagination
    button.button-slider.button-slider_prev.portfolio__button.portfolio__button-prev(type="button")
    button.button-slider.button-slider_next.portfolio__button.portfolio__button-next(type="button")

  .portfolio__slider.mySwiper
    .portfolio__slider-wrapper 
      .portfolio__slide.portfolio__slide_active
        .portfolio__slide-logo 
        .portfolio__slide-text 
          h3.portfolio__slide-title Приточная вентиляция
          p.portfolio__slide-description Монтаж приточной вентиляции (объект в Прайм Парк)
        img.porfolio__slide-image(src="images/portfolio-1.jpg" alt="Портфолио фото")
      .portfolio__slide
        .portfolio__slide-logo 
        .portfolio__slide-text 
          h3.portfolio__slide-title Приточная вентиляция
          p.portfolio__slide-description Монтаж приточной вентиляции (объект в Прайм Парк)
        img.porfolio__slide-image(src="images/portfolio-2.jpg" alt="Портфолио фото")
      .portfolio__slide
        .portfolio__slide-logo 
        .portfolio__slide-text 
          h3.portfolio__slide-title Канальные кондиционеры
          p.portfolio__slide-description Монтаж приточной вентиляции (объект в Прайм Парк)
        img.porfolio__slide-image(src="images/portfolio-3.jpg" alt="Портфолио фото")
      .portfolio__slide
        .portfolio__slide-logo 
        .portfolio__slide-text 
          h3.portfolio__slide-title Канальные кондиционеры
          p.portfolio__slide-description Монтаж приточной вентиляции (объект в Прайм Парк)
        img.porfolio__slide-image(src="images/portfolio-4.jpg" alt="Портфолио фото")
      .portfolio__slide
        .portfolio__slide-logo 
        .portfolio__slide-text 
          h3.portfolio__slide-title Канальные кондиционеры
          p.portfolio__slide-description Монтаж приточной вентиляции (объект в Прайм Парк)
        img.porfolio__slide-image(src="images/portfolio-1.jpg" alt="Портфолио фото")
script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js") 
script.

  const swiper = new Swiper('.portfolio__slider-wrapper ', {
  // Optional parameters
    direction: 'vertical',
    loop: true,

  // If we need pagination
    pagination: {
    el: '.swiper-pagination',
    },

  // Navigation arrows
    navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
    },

  // And if we need scrollbar
    scrollbar: {
    el: '.swiper-scrollbar',
    },
  });