-
  var list = [{title: 'Получение заявки', text: 'Заполните форму, укажите свои данные и отправьте нашим менеджерам в обработку'},
    {title:'Консультация', text: 'После обработки Вашей заявки, мы связываемся с Вами, выявляем потребности и пожелания, а также проводим техническую консультацию'},
    {title:'Выезд на объект', text:'В назначенное время мы выезжаем на объект и согласовываем основные технические решения, обсуждаем техническое задание'},
    {title:'Составляем График', text:'На этом этапе мы составляем коммерческое предложение и занимаемся согласованием графика работ (проектирования, закупки оборудования и монтажа).'},
    {title:'Договор', text:'Мы заключаем с Вами договор и начинаем проектирование и согласование проекта'},
    {title:'Поставка и монтаж', text:'На этом этапе, происходит поставка всех материалов и начинается выполнение монтажных работ'},
    {title:'Подписание акта выполненных работ'}];

section.scheme.container.container_size_small
  h2.title-section.title-section_size_large.title-section_capitalize_true.scheme__title Понятная и эффективная схема работы
  ul.scheme__list
    each item in list
      li.scheme__item
        .scheme__item-content
          h3.scheme__item-title #{item.title}
          p.scheme__item-paragraph #{item.text}


