include tabs
section.services.container
  .services__text
    h2.title-section.title-section_size_large.title-section_capitalize_true.services__title Предоставляемые услуги
    p.paragraph-section.services__paragraph.
      При разработке проекта предложим техническое решение оптимальное по
      соотношению цены и качества, оно идеально впишется в ваш дизайн, а
      также будет учитывать все ваши пожелания.

    p.paragraph-section.services__paragraph.
      Монтаж выполняется опытными бригадами с соблюдением всех действующих
      технических норм, правил безопасности и строго по согласованному
      проекту.

    p.paragraph-section.services__paragraph.
      Одинаково эффективно выполняем проектирование и монтаж на объектах
      любой сложности – от небольшой квартиры, до объектов со сложными
      технологическими процессами на основе действующей нормативной
      документации.
  +tabs


