-
  var list = ['Получите скидку 5% на монтаж при заполнении анкеты на сайте',
  'Бесплатно сделаем проект и пусконаладку системы при заказе монтажа',
  'Кэшбек до 10% дизайнерам при передаче Клиента и заказе у нас проекта с монтажом!']

  var steps = [{title:'Ваше желание',
    image:'icons/lamp.svg'},
    {title:'Заявка',
    image:'icons/list.svg'},
    {title:'Реализация',
    image:'icons/vent.svg'}]

section.steps 
  .steps__container.container
    h2.title-section.steps__title 3 простых шага <br/> к очищению воздуха
    .steps__action
      h3.steps__action-title Кажется, это знак...
      ul.steps__list
        each item in list
          li.steps__item #{item}
  ul.steps__stages
    each step in steps
      li.steps__stage
        img.steps__stage-image(src=step.image alt=step.title)
        span.steps__stage-text #{step.title}
