.form-order {
  position: relative;
  padding: 55px 0 49px;
  background-color: var(--color-light);
  background-image: url(/images/form-order-bg-1.svg),
    url(/images/form-order-bg-2.svg);
  background-repeat: no-repeat;
  background-position: center right, center left;
}

.form-order__title {
  margin-top: 0;
  margin-bottom: 24px;
}
.form-order__input {
  margin-right: 30px;
}

.form-order__input_margin_false {
  margin-bottom: 0;
}

.form-order__button {
  margin-left: 70px;
  z-index: 1;
}
