.header {
  position: relative;
  padding-top: 26px;
}

.header::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 820px;
  background-image: linear-gradient(
    180deg,
    #f1f1f1 0%,
    #f0f2f1 16.25%,
    #ebedec 43.26%,
    #e6e8e7 72.5%,
    #dee2e1 100%
  );
  inset: 0;
  z-index: -2;
}

.header::before {
  position: absolute;
  content: '';
  width: 795px;
  height: 820px;
  background-image: url(/images/bg-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  z-index: -1;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: block;
  width: 196px;
  height: 61px;
  background-image: url(/images/logo-header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 300ms ease-in-out;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__list {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.header__item {
  margin-right: 40px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-family: var(--font-family-primary);
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text-color-dark);
  text-transform: lowercase;
  text-decoration: none;
  transition: color 300ms ease-in-out;
}

.header__link:hover {
  color: var(--color-secondary);
}
