.header {
  position: relative;
  padding-top: 26px;
}

.header::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 820px;
  background-image: linear-gradient(
    180deg,
    #f1f1f1 0%,
    #f0f2f1 16.25%,
    #ebedec 43.26%,
    #e6e8e7 72.5%,
    #dee2e1 100%
  );
  inset: 0;
  z-index: -2;
}

.header::before {
  position: absolute;
  content: '';
  width: 795px;
  height: 820px;
  background-image: url(/images/bg-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  z-index: -1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper_fixed {
  padding: 20px 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: var(--color-light);
  border-radius: 0px 0px 70px 70px;
  z-index: 10;
  animation: headerTop 300ms 500ms ease-in-out forwards;
  opacity: 0;
}

@keyframes headerTop {
  0% {
    top: -100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav_fixed {
  position: fixed;
  top: 0;
}

.header__list {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.header__item {
  margin-right: 40px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-family: var(--font-family-primary);
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text-color-dark);
  text-transform: lowercase;
  text-decoration: none;
  transition: color 300ms ease-in-out;
}

.header__link:hover {
  color: var(--color-secondary);
}
