.services {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  gap: 190px;
  justify-content: flex-end;
  padding-inline: 0;
}

.services__text {
  max-width: 444px;
}

.services__title {
  margin-bottom: 22px;
  position: relative;
}

.services__title::after {
  position: absolute;
  content: '';
  width: 245px;
  height: 2px;
  background-color: var(--color-secondary);
  border-radius: 1.5px;
  right: 0;
  bottom: 22px;
}

.services__paragraph {
  margin-bottom: 25px;
}

.services__paragraph:last-child {
  margin-bottom: 0;
}
