.services {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  gap: 110px;
}

.services__text {
  max-width: 444px;
}

.services__title {
  margin-bottom: 22px;
}

.services__paragraph {
  margin-bottom: 25px;
}

.services__paragraph:last-child {
  margin-bottom: 0;
}
