:root {
  --text-color-dark: #495e4c;
  --text-color-secondary: #7ca381;
  --text-color-accent: #7b897d;
  --text-color-primary: #848484;
  --color-secondary: #78c081;
  --color-light: #d9fadd;
  --color-button: #5ccd6a;
  --color-button-nover: #54e165;
  --color-button-tab: #7ca281;
  --shadow-button: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
  --font-family-primary: 'Proxima Nova', Arial, Helvetica, sans-serif;
  --font-family-secondary: 'Ruberoid', Arial, Helvetica, sans-serif;
}
